@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  @font-face {
    font-family: 'Neue Plak Regular';
    font-display: swap;
    src: url('../public/fonts/Neue-Plak-Regular.otf') format('opentype');
  }
  @font-face {
    font-family: 'Neue Plak Semibold';
    font-display: swap;
    src: url('../public/fonts/Neue-Plak-SemiBold.otf') format('opentype');
  }
  @font-face {
    font-family: 'Neue Plak Bold';
    font-display: swap;
    src: url('../public/fonts/Neue-Plak-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Neue Plak Condensed Black';
    font-display: swap;
    src: url('../public/fonts/Neue-Plak-CondBlack.ttf') format('truetype');
  }
}
p{
  font-family: 'Neue Plak Regular';
}